<? INC Header.tmpl ?>

<? INC Breadcrumbs.tmpl ?>

<style type="text/css">
  table.log, table.log td {
    background: WhiteSmoke;
    color: black;
    font-family: monospace;
  }
  table.log td {
    padding: 0px;
    padding-right: 1em;
    text-align: right;
    vertical-align: text-top;
  }
  table.log td.log-message {
    text-align: left;
    padding-right: 0px;
    word-wrap: break-word;
    word-break: break-word;
  }
  table.log {
    padding: 5px;
  }
  div.log-formats {
  }
  .log-muted, .log-timestamp {
    color: grey;
  }
  .log-nickname-bracket, .log-keyword {
    font-weight: bold;
  }
  .log-nickname, .log-prefix {
    font-weight: bold;
  }
  .log-nickname-0 { color: rgb(0, 100, 100); }
  .log-nickname-1 { color: rgb(100, 0, 100); }
  .log-nickname-2 { color: rgb(0, 100, 0); }
  .log-nickname-3 { color: rgb(100, 100, 0); }
  .log-nickname-4 { color: rgb(0, 0, 150); }
  .log-nickname-5 { color: rgb(0, 0, 0); }
  .log-nickname-6 { color: rgb(0, 150, 150); }
  .log-nickname-7 { color: rgb(150, 0, 150); }
  .log-nickname-8 { color: rgb(0, 150, 0); }
  .log-nickname-9 { color: rgb(0, 0, 100); }
</style>

<div class="log-formats">
  Additional Formats:
  <? LOOP LogFormats ?>
  <a href="<? VAR url ?>"><? VAR name ?></a>
  <? ENDLOOP ?>
</div>

<table class="log">
  <tbody>
    <? LOOP LogLines ?>
    <tr>
      <!-- <td class="log-lineno" data-line-number="<? VAR lineno ?>"></td> -->
      <td><? VAR timestamp ESC=ASCII ?></td>
      <td><? VAR nickname ESC=ASCII ?></td>
      <td class="log-message"><a id="L<? VAR lineno ?>"></a><? VAR message ESC=ASCII ?></td>
    </tr>
    <? ENDLOOP ?>
  </tbody>
</table>

<div class="log-formats">
  Additional Formats:
  <? LOOP LogFormats ?>
  <a href="<? VAR url ?>"><? VAR name ?></a>
  <? ENDLOOP ?>
</div>

<? INC Footer.tmpl ?>
