<? INC Header.tmpl ?>

<? INC LogCss.tmpl ?>

<? INC Breadcrumbs.tmpl ?>

<div class="log-formats">
  Additional Formats:
  <? LOOP LogFormats ?>
  <a href="<? VAR url ?>"><? VAR name ?></a>
  <? ENDLOOP LogFormats ?>
</div>

<? INC LogLines.tmpl ?>

<div class="log-formats">
  Additional Formats:
  <? LOOP LogFormats ?>
  <a href="<? VAR url ?>"><? VAR name ?></a>
  <? ENDLOOP LogFormats ?>
</div>

<? INC Footer.tmpl ?>
