<form action="search" method="get">
  Search:
  <input type="text" name="re" value="<? VAR re ?>" placeholder="python regex">
  <input type="hidden" name="path" value="<? VAR path ?>">
  <input type="submit" value="Submit">
</form>
